<!DOCTYPE html>
<html lang="en">
    <head>
        <LINK href="https://homicidestorage.z13.web.core.windows.net/styles.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@4"></script>
        <title>Homicide Analytics</title>
    </head>
    <body>
        <div class='homicidepage'>
            <h1 style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                    Homicide: Life on the Street in Charlotte - 2019</h1>
            <div class='menu' style="text-align: center">
            [ <div class='tooltip'>
                    <a href="/homicide">Home</a>
                    <span class='tooltiptext'>Homepage</span>
                </div> |
                <div class='tooltip'>
                    <a href="/chart">Analytics/Charts</a>
                    <span class='tooltiptext'>Analytics/Charts</span>
                </div> |
                <div class='tooltip'>
                    <a href="/map">Maps</a>
                    <span class='tooltiptext'>View Map of all Homicides</span>
                </div> ]
            </div>

            <P></P>

            <div id="viz"></div>
            <div id="viz2"></div>
            <div id="viz3"></div>
            <div id="viz4"></div>
            <div id="viz5"></div>
            <div id="viz6"></div>
            <div id="viz7"></div>
            <div id="viz8"></div>
            <div id="viz9"></div>

            <script type="text/javascript">
                // transform the vega spec from altair as JSON,
                // and render our cool viz on the page
                var spec = "{% url 'chart_obj' %}";
                vegaEmbed('#viz', spec)
                var spec2 = "{% url 'chart_regression' %}";
                vegaEmbed('#viz2', spec2)
                var spec3 = "{% url 'chart_stack' %}";
                vegaEmbed('#viz3', spec3)
                var spec4 = "{% url 'chart_mline' %}";
                vegaEmbed('#viz4', spec4)
                var spec5 = "{% url 'chart_suspect' %}";
                vegaEmbed('#viz5', spec5)
                vegaEmbed('#viz6', "{% url 'chart_heat' %}")
                vegaEmbed('#viz7', "{% url 'chart_trend' %}")
                vegaEmbed('#viz8', "{% url 'chart_tod' %}")
            </script>
        </div>
    </body>
</html>
