{% extends "admin/change_form.html" %}

{% block form_top %}
  <script type="text/javascript" >
    function fetchURL() {

      url = document.getElementById("article_form").url.value;
      b64url = btoa(url);

      fetch(`/fetch_article/${b64url}`)
        .then(function(response) {
          return response.json();
        })
        .then(function(json) {
          document.getElementById("article_form").headline.value=json[0].heading;
          document.getElementById("article_form").content.value=json[0].body;
          console.log(json);
        });
    }
  </script>
  <p><button type="button" onClick="javascript:fetchURL()">Fetch Article</button></p>
{% endblock %}

